
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>GromovaSQL</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'reset.css')}}">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

   


    {% block links %}
    {% endblock %}
   
  </head>   

  <body>
    <style type="text/css">
       #content {
        width: 500px; /* Ширина слоя */
        margin: 0 auto 50px; /* Выравнивание по центру */
       }
       #footer {
        position: fixed; /* Фиксированное положение */
        left: 0; bottom: 0; /* Левый нижний угол */
        padding: 10px; /* Поля вокруг текста */
        background: #e3e9f2; /* Цвет фона */
        color: #abafb5; /* Цвет текста */
        width: 100%; /* Ширина слоя */
       }
       .logoutbutton{
        position:fixed;
        right:0;
        bottom:30;
        color:#222;

       }
      </style>
    <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href ="{{url_for('home_data')}}">{{session.get('login')}}</a>
    </div>

  
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li ><a href="{{url_for('query')}}">Запросы</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Многие ко многим <b class="caret"></b></a>
          <ul class="dropdown-menu">
          <li><a href="{{url_for('density')}}">Плотность</a></li>
          <li><a href="{{url_for('wt_wk')}}">Виды работ - работники</a></li>
          <li><a href="{{url_for('app_hous')}}">Хозяйство - Аппаратура</a></li>

          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Работа с данными <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li ><a href="{{url_for('add')}}">Добавление</a></li>
            <li ><a href="{{url_for('delete')}}">Удаление</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Таблицы <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li ><a href="{{url_for('chiefs')}}">Начальники</a></li>
            <li><a href="{{url_for('ch_salary')}}">Зарплата начальников</a></li>
            <li><a href="{{url_for('workers')}}">Работники</a></li>
            <li><a href="{{url_for('wk_salary')}}">Зарплата работников</a></li>
            <li><a href="{{url_for('household')}}">Хозяйства</a></li>
            <li><a href="{{url_for('apparate')}}">Аппаратура</a></li>
            <li><a href="{{url_for('worktypes')}}">Типы работ</a></li>
            <li ><a href="{{url_for('trees')}}">Деревья</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
    {% block content %}
    
    {% endblock %}
    <div id="footer">
       &copy; Петров Илья 
       <a href="{{url_for('login')}}">
            <button class = "logoutbutton" >Log out</button>
       </a>
       
      </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>


