{% extends 'base.html' %}
{% block links %}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'style.css')}}">
{% endblock %}
{% block content %}
		<h1 class ="myheader1">Начальники</h1>
		<table class = "mytable1" >
		<thead >
		<tr >
			<th ><strong>ID</strong></th>
			<th><strong>ФИО</strong></th>
			<th><strong>Адрес</strong></th>
			<th><strong>Место работы</strong></th>
		</tr>
		</thead>
		
		<tbody>
			{% for i in content %}
			<tr>
			<td>{{i[0]}}</td>
			<td>{{i[1]}}</td>
			<td>{{i[2]}}</td>
			<td>{{i[3]}}</td>
			</tr>
			{% endfor %}
		</tbody>
		</table>

		<span>
		<form class="choice-btn">
				<p>Выберите ID</p>
				
				<select name = "choice">
					{% for i in content %}
						<option>{{i[0]}}</option>
					{% endfor %}
				</select>
				<input name="Submit" type ="submit" class = "knopka" value = "Выбрать">
		</form> 
		</span>
	{% if form %}
	<div class = "chiefs-form">
	<form method="POST">
			<ul class="first-list">
				<li>
					<span>ФИО</span>	
					<input type="text" name = "initials" value ="{{form[0][1]}}" required >
				</li>
				<li>
					<span class="job">Место работы</span>
					<select  name = "household">
					{% for i in households %}
						<option>{{i[0]}}</option>
					{% endfor %}
					</select>
				</li>
			</ul>
			<ul class="second-list">
				<li>
					<span>Адрес</span>
					<input type="text" name ="adress" value ="{{form[0][2]}}" required>
				</li>
				<li>
					<input type="submit" value ="Изменить" class="subm">
				</li>
			</ul>
	</form>
	</div>
	{% endif %}
	

	
	
{% endblock %}
